@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather:wght@700&display=swap');

*{ margin: 0;
    padding: 0;
    border: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
main {
    flex-grow: 1;
}
header, main, footer {
    flex-shrink: 0;
}
#sitename {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    color: #011638;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 30px;
}
#homelink, #contactlink {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    color: #011638;
    letter-spacing: 1px;
    font-size: 20px;
}
.menu a:hover {
    border-bottom: 1px solid #011638;
}
.menu a {
    margin-left: 20px;
}
.active {
    border-bottom: 1px solid #011638;
}
body{
    font-family:'Merriweather Sans', sans-serif;
    color: #777777;    }

h1{
    font-family:'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #011638;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    }

h2{
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
    color: #011638;
}
p {
    font-family: 'Merriweather Sans', sans-serif;
}

#logo :first-child {
    font-size: 50px;

}
#logo :nth-child(2) {
    font-size: 40px;
}

.fill img {
    object-fit: cover;
    width: 100vw;
    height: 90vh;
    animation-name: hero-zoom;
    animation-duration: 5s;
}
#hero-outer {
    width: 100vw;
    height: 600px;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
#cover-text, #cover-text h2 {
    color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}
#cover-text {
    width: 350px;
    height: 420px;
    padding-left: 10px;
    padding-top: 30px;
    background-color: rgba(158, 197, 171);
    bottom: 50px;
    left: 20px;
    position: absolute;
}
#about-us {
    text-align: center;
    padding: 75px 75px 75px 75px;
    background-color: #9EC5AB;
    font-size: 120%;
}

header, footer, section {
    overflow: auto;
}
#gallery {
    background-color: #9ec5ab;
}
#gallery-heading {
    text-align: center;
}
#classic-subheading, #agri-subheading {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
#test-heading {
    text-align: center;
}

footer {
    background-color: #067086;
    height: 105px;
}
.social-links {
    text-align: center;
}
.social-links li {
    display: inline-block;
    text-align: center;
    color: #011638;
    margin: 1%;
    padding: 1%;
}
.social-links i {
    font-size: 300%;
    color: #011638;
}
.social-links p {
    font-size: 150%;
    font-family: 'Merriweather Sans', sans-serif;
}
#contact-form {
    background-color: #9ec5ab;
}
.contact-container {
    width: 750px;
    height: 950px;
    background: #9EC5AB;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 40px;
}
.contact-container p {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #2F4F4F;

}
.contact-container .input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 2px solid #011638;
    font-size: large;
    border-radius: 5px;
    outline: none;
}
.message .area {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 2px solid #011638;
    font-size: large;
    border-radius: 5px;
    outline: none;   
}
.btn {
    text-align: center;
    background-color: #2F4F4F;
}
#form-fb-link, #form-insta-link {
    color: #2F4F4F;
    font-size: 200%;
}
#form-fb-link {
    margin-right: 20px;
}
#form-insta-link {
    margin-left: 20px;
}