@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Raleway:wght@500&display=swap');
*{ margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family:'Raleway';
    color: #404E57;    }

h1{
    font-family:'Cinzel Decorative' ;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #404E57;
    }

h2{
    font-family: 'Cinzel Decorative';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4a8db7;
}

#logo{
    float: left;
    font-size: 200%;
    font-weight: 800;
}
#logo, #menu{
    line-height: 75px;
}

#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 1px;
}

#menu li{
    float: right;
    margin-right: 20px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #404E57;
}

.active {
    border-bottom: 1px solid #404E57;
}

.fill img {
    object-fit: cover;
    width: 100vw;
    height: 90vh;
    animation-name: hero-zoom;
    animation-duration: 5s;
}
#hero-outer {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}