@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather:wght@700&display=swap');

*{ margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family:'Merriweather Sans', sans-serif;
    color: #777777;    }

h1{
    font-family:'Merriweather', sans-serif ;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #011638;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    }

h2{
    font-family: 'Merriweather', sans-serif;
    letter-spacing: 1px;
    color: #011638;
}

.header-container {
    background-color:#067086;
    width: 100vw;
    height: 120px;
}
#logo{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 350%;
    font-weight: 750;
}
#subtitle {
    float: left;
    margin-left: 20px;
    font-size: medium;
}
#logo, #menu{
    line-height: 75px;
}

#menu{
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 1px;
    color: #011638;
}

#menu li{
    float: right;
    margin-right: 20px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #011638;
}

.active {
    border-bottom: 1px solid #011638;
}

.fill img {
    object-fit: cover;
    width: 100vw;
    height: 90vh;
    animation-name: hero-zoom;
    animation-duration: 5s;
}
#hero-outer {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#about-us {
    text-align: center;
    padding: 75px 75px 75px 75px;
    background-color: #9EC5AB;
    font-size: 120%;
}

header, footer, section {
    overflow: auto;
}

.footer-container {
    background-color:#067086;
    width: 100vw;
    height: 120px;
}
.social-links {
    text-align: center;
}
.social-links li {
    display: inline-block;
    text-align: center;
    color: #011638;
    margin: 1%;
    padding: 1%;
}
.social-links i {
    font-size: 300%;
    color: #011638;
}
.social-links p {
    font-size: 120%;
}
#contact-form {
    background-color: #011638;
}
.contact-container {
    width: 750px;
    height: 950px;
    background: #9EC5AB;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: 0 0 20px #a9a9a9;
}
.contact-container p {
    font-family: 'Merriweather Sans';
    text-align: center;
    font-size: medium;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #2F4F4F;

}
.contact-container .input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 2px solid #011638;
    font-size: large;
    border-radius: 5px;
    outline: none;
}
.message .area {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 2px solid #011638;
    font-size: large;
    border-radius: 5px;
    outline: none;   
}
.btn {
    text-align: center;
    background-color: #2F4F4F;
}
#form-fb-link, #form-insta-link {
    color: #2F4F4F;
    font-size: 200%;
}
#form-fb-link {
    margin-right: 20px;
}
#form-insta-link {
    margin-left: 20px;
}